<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->

    <!-- Login Form -->
    <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm.value)">
      <input
        type="text"
        id="login"
        class="fadeIn second"
        name="username"
        placeholder="username"
        ngModel
        #usernameInput="ngModel"
        required
      />
      <input
        type="password"
        id="password"
        class="fadeIn third"
        name="password"
        placeholder="password"
        ngModel
        #passwordInput="ngModel"
        required
      />
      <!-- <input type="submit" class="fadeIn fourth" value="Log In" /> -->
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="loginForm.invalid || showLoading"
      >
        <span
          *ngIf="showLoading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
          >Loading...</span
        >
        <span>Log in</span>
      </button>
    </form>

    <div id="formFooter">
      <a class="underlineHover" routerLink="/register"
        >Don't have an account? Sign up</a
      >
    </div>
  </div>
</div>
