<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img
        src="http://danielzawadzki.com/codepen/01/icon.svg"
        id="icon"
        alt="User Icon"
      />
    </div>

    <!-- Login Form -->
    <form>
      <input
        type="text"
        id="login"
        class="fadeIn second"
        name="username"
        placeholder="username"
        required
      />
      <input
        type="text"
        id="password"
        class="fadeIn third"
        name="login"
        placeholder="password"
        required
      />

      <input type="submit" class="fadeIn fourth" value="Log In" />
      <button class="btn btn-primary" type="button" disabled>
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        Loading...
      </button>
    </form>

    <div id="formFooter">
      <a class="underlineHover" href="#">Don't have an account? Sign up</a>
    </div>
  </div>
</div>
