<div class="container">
  <div class="row mb-2 mt-2 text-center">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h5>User management</h5>
      <small *ngIf="titleAction$ | async as title">{{ title }}</small>
    </div>
  </div>

  <nav class="navbar navbar-expand-md breadcrumb">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="nav nav-pills">
        <a
          class="nav-item nav-link active ml-1"
          data-toggle="tab"
          (click)="changeTitle('Users')"
        >
          <i class="fa fa-users"></i>
          Users
        </a>
        <a
          class="nav-item nav-link ml-3"
          data-toggle="tab"
          (click)="changeTitle('Settings')"
        >
          <i class="fa fa-cogs"></i>
          Settings
        </a>
        <a
          class="nav-item nav-link move-right mr-3"
          data-toggle="tab"
          (click)="changeTitle('Profile')"
        >
          Welcome,
          <i class="fa fa-user"></i>
        </a>
      </div>
    </div>
  </nav>

  <div class="btn-group mr-2">
    <form
      #searchForm="ngForm"
      class="form-inline my-2 my-lg-0 justify-content-center"
    >
      <input
        type="search"
        class="form-control mr-sm-2"
        name="searchTherm"
        placeholder="Search users..."
      />
    </form>
    <button
      type="button"
      class="btn btn-info"
      data-toggle="modal"
      data-target="#addUserModal"
    >
      <i class="fa fa-plus"></i>New User
    </button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-info" (click)="getUsers(true)">
      Refresh
    </button>
  </div>

  <table class="table table-hover">
    <thead class="table-borderless">
      <tr class="text-center">
        <th>Photo</th>
        <th>User ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let appUser of users">
      <tr class="text-center">
        <td>
          <img
            src="{{ appUser?.profileImageUrl }}"
            alt=""
            class="rounded-circle img-fluid img-thumbnail"
            height="40"
            width="40"
          />
        </td>
        <td>{{ appUser?.userId }}</td>
        <td>{{ appUser?.firstName }}</td>
        <td>{{ appUser?.lastName }}</td>
        <td>{{ appUser?.username }}</td>
        <td>{{ appUser?.email }}</td>

        <td>
          <span [hidden]="!appUser?.active" class="badge badge-success"
            >Active</span
          >
          <span [hidden]="appUser?.active" class="badge badge-danger"
            >Inactive</span
          >
        </td>
        <td class="">
          <div class="btn-group">
            <button class="btn btn-outline-info" (click)="onEditUser(appUser)">
              <i class="fa fa-edit">Edit</i>
            </button>
            <button class="btn btn-outline-danger">
              <i class="fa fa-trash" (click)="onDeleteUser(appUser.username)"
                >Delete</i
              >
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
